* {
  margin: 0;
  padding: 0;
}
h1{
  color:white;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px #965c3e;
}

/*conainer*/
.whole-container{
    width: 100%;
    padding-right: 0.3px;
    padding-left: 0.3rem;
   
}
/*navbar*/
.navbar{
    height: 6rem;
    width: 100%;
   background-color: #2c5451;
}
.logo{
   position: relative;
   left: 20px;
   top: 0px;
   color: rgb(200, 200, 198);
    text-decoration: none;
    font-weight: bold;
}
/*logo*/
.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
/* hamburger-icon*/
.nav-container .hamburger-lines {
  display: block;
  height: 22px;
  width: 28px;
  position: absolute;
  top: 11px;
  left: 5px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-container .hamburger-lines .bar {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

/* Adding transitions  */
.nav-container .hamburger-lines .bar1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .bar2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .bar3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

/* Adding transitions  */
.nav-container .hamburger-lines .bar1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .bar2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .bar3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 80px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 30rem;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: #e0d6d5;
  z-index: 1;
  
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #b5b0b0;
}/* Controlling the state of the icon */
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .bar3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

/*search bar */
.nav-search{
    height: 1.3rem;
    width: 11;
    position: relative;
    top: 1rem;
    display: flex;
    background-color: black;
    border-radius: 4px;
}
.search-input{
    width: 100%;
    font-size: 0.7rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #65c7c7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: 0f1111;
}

/* Main-Section*/
.main-section{
  height: 65rem;
  width: 100%;
  background-color: #7f8276;
}
.heading
{
  background-color: #6e8240;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-txt{
  margin-top: 3rem;
}
.input-val{
margin-top: 3rem;
background-color: red;
}
exp-val{
  background-color: red;
  z-index:4;
}
.result-box{
  height: 4rem;
  width: 100%;
  display: flex;
  background-color: red;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  background-color: #86a873;
}
.result{
  font-size: 1.5rem;
  margin: 0.5rem;
}
/* footer */

footer{
 height: 11rem;
  width: 100%;
  background-color: #19574e;
}
/* instagram icon*/
.footer-1{
  display: flex;
  margin-left: 0.3rem;
  font-size: 1.4rem;
}
.footer-1 a{
  margin-top: 0.8rem;
  margin-left: 0.4rem;
  color: white;
  font-weight: bolder;
  font-size: 0.8rem;
}
/* links*/
.links-container{
  display: flex;
  align-items: center;
  justify-content: right;
}
.insta-icon{
  display: inline-block;
  margin-right: 1rem;
}
.facebook-icon{
  display: inline-block;
  margin-right: 0.3rem;
}
.linkdin-icon{
  display: inline-block;
  margin-right: 0.3rem;
}
